<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <div class="container-fluid">
    <a
    routerLink=""
    routerLinkActive="active"
    class="navbar-brand">
     Sidmox
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a
            routerLink="laboA"
            routerLinkActive="active"
            class="nav-link">
              Interes Simple
            </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="laboB"
            routerLinkActive="active"
            class="nav-link">
              Interes Complejo
            </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="sisFrances"
            routerLinkActive="active"
            class="nav-link">
              Sistema Frances
            </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="sisAmericano"
            routerLinkActive="active"
            class="nav-link">
              Sistema Americano
            </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="sisAleman"
            routerLinkActive="active"
            class="nav-link">
              Sistema Aleman
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Otros</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
